@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --color-text: white;
    --color-text-dark: black;
    --color-background-main: #00192b;
    --color-background-accent:#1b2e3f;
    --color-background-button: #8480e487;
    --color-decoration: turquoise;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  font-weight: 300;
  border: 0px solid red;
  color: var(--color-text)
}

body {
    background-color: var(--color-background-main);
}

p {
    margin: .25em 0 .25em 0;
}

footer {
    height: 20vh;
    padding-top: 5%;
    margin-top: 5%;
    background-color: var(--color-background-accent);
    width: 100%;}
    

    footer>* {
        
        color: var(--text-color);
        text-align: center;
        padding-top: 2%;
    }

a {
    text-decoration: underline;
    color: var(--color-decoration)
    
}

.active {
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

nav {

    border-radius: 12px;
    width: 25%;
    position: fixed;
    left: 0px;
    top: 20px;
    background-color: var(--color-background-accent);
    padding-top: 3%;
    display: block;
}

nav > h1 {
    font-size: 18px;
    min-height: 40px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

nav > h2 {
    font-size: 15px;
    height: 40px;
    text-align: center;

}

nav > h2 > a {
    text-decoration: none;
    color: var(--color-text)
}

nav > p {
    font-size: 15px;
    height: 40px;
    margin-top: 15px;
    text-align: center;
}

nav > p > a {
    text-decoration: underline;
}

.main {

    background-color: var(--color-background-main);
    margin-left: 25%;
    width: 75%;

}

.page {
    height: 90vh;
    background-color: var(--color-background-main);
    margin: 5%;
    display: block;
}

.page-options {
    height: 90vh;
    margin: 5%;
    background-color: var(--color-background-main);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 8fr .7fr;
}

.page-dropdown {
    height: 90vh;
    margin: 5%;
    background-color: var(--color-background-main);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

.page-short {
    background-color: var(--color-background-main);
    margin: 5%;
    display: block;
}

button, select {
    height: 40px;
    background-color: var(--color-background-button);
    margin: 10px;
    font-size: 15px;
    
}

button, select {
    cursor: pointer;
    border-radius: 10px;
}

option {
    color: var(--color-text-dark);
}

li {
    margin: .5em 0 .5em 0;
}
